@inherits LayoutComponentBase

<Navbar />

<main class="mb-4">
    <article class="content px-4">
        @Body
    </article>
   
    </main>
 <RadzenFooter class="text-center" Style="background-color: #c1c1c1">
     © 2022 Copyright:
     <a class="text-dark" href="">Gruppe6.dk</a>
 </RadzenFooter>

<RadzenDialog />
<RadzenNotification />
<RadzenContextMenu />
<RadzenTooltip />
